body {
    margin: 0;

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #585858;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Page */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}



/* Header */
.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #04222a url("/img/BG.jpg") no-repeat center;
    background-size: cover;

}

.header__inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    background: linear-gradient(90deg, rgba(68, 54, 130,0.9) 14.58%, rgba(40, 65, 138,0.9) 39.75%, rgba(0, 102, 156,0.9) 68.41% );
    display: grid;
}


.time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__messagenger__ico {
    display: flex;

}

.time__img {
    padding-right: 15px;
    width: auto;
    height: auto;
    max-width: 100%;
}

.header__time {
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;

}

.header__time__info {

    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}



/* Nav */

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, .65);
    height: 100%;
    font-size: 16px;
    text-transform: uppercase;



}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 500;

}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: #004AF2;
}

/* Intro */
.intro {

    position: relative;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.intro__titile {}