body {
    margin: 0;

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;

    color: #585858;

}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

/* Page */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.btn__call {

    padding: 10px 20px;
    border-radius: 8px;

    border: 1px solid #FFFFFF;

    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}

.btn__call:hover {

    padding: 10px 20px;
    border-radius: 8px;

    border: 1px solid #FFFFFF;

    margin-left: 15px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background .3s linear;
}

.bth:hover {
    color: #fff;
    background: #333;
}

/* Header */
.header {
    width: 100%;
    height: 100%;

 
    background: #04222a url(/img/BG.jpg) no-repeat center;
    background-size: cover;



}

.header__inner {

    width: 100%;
    height: 80px;

    background: rgba(0, 0, 0, .65);
    display: grid;
}


.time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {

    font-size: 15px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;

}

.logo {
    width: 70px;
    padding-right: 15px;
}

.header__messagenger__ico {
    display: flex;

}

.time__img {
    padding-right: 15px;
    width: auto;
    height: auto;
    height: 21px;
}

.header__time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}

.header__time__info {
    margin: 0 15px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    /* margin-left: 30px; */
}



/* Nav */

.nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    font-size: 15px;
    text-transform: uppercase;



}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 500;

}



/* Intro */
.intro {
    z-index: 1;
    display: flex;
    margin: auto auto 373px auto;

}

.intro__titile {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}


/* design */
.design {
    background-color: #aee5ff;
    background-image: url(/img/design_bg.jpg);
    background-size: no-repeat center cover;

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.design__titile {







    margin: 0 auto;
    text-align: center;
    color: black;
    padding-top: 10%;
}


/* ./design */

/* mebel */
.mebel {
    background-color: #aee5ff;

    background-size: no-repeat center cover;
    

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


}

.mebel__titile {







    margin: 0 auto;
    text-align: center;
    color: black;
    padding-top: 10%;
}


/* ./mebel */