body {
    margin: 0;

    background-color: #fff;
    font-family: 'DM Serif Display', serif;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    line-height: 1.4;

    color: #585858;

}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


/* Header */
.header {

    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    height: 110px;

    position: relative;
    overflow: hidden;

    background: #fff;



}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;

}


.header-nav-link {
    margin-left: 1.5rem;

    color: #292F36;



    transition: color .2s linear;

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}

.header-nav-link:hover {
    color: #CDA274;
}

.header-nav-link:focus {
    color: #CDA274;
}

.header-nav-link.active {
    position: relative;
    color: #CDA274;
}




/* content */

.content {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    overflow: hidden;

    background: #000 url("../img/IMAGE.jpg") center no-repeat;
    background-size: cover;

    border-radius: 0px 0px 0px 290px;

    margin-bottom: 110px;
    z-index: 0;
}

.title {
    margin-bottom: 10px;
    font-family: 'DM Serif Display', serif;

    font-size: 4.2rem;
    color: #292F36;
    font-weight: 400;
    line-height: 1.2;
}

.content__block {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin-top: 180px;
}

.text {
    font-size: 1.3rem;
    font-weight: 400;
    /* line-height: 33px; */
    font-family: 'Jost', sans-serif;
    margin-bottom: 35px;
}


/* Btn
=================*/

.btn {
    display: inline-block;
    padding: 18px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    border: 0;
    background-color: #292F36;
    border-radius: 18px;

    transition: background .2s linear;
    z-index: 2;
}

.btn:hover {
    background-color: #CDA274;
}

.btn-full {
    display: block;
    width: 100%;
}

/* Text__info */
.Text__info {
    display: flex;

    flex-wrap: wrap;

    margin-bottom: 90px;

}


.text__block {
    width: 33.33333%;
    padding: 0 40px;
}


.text__block {

    padding: 70px 40px 70px 40px;
}


.text__block__title {
    font-family: DM Serif Display;
    font-size: 2rem;
    font-weight: 400;
    color: #292F36;
    text-align: center;
    margin-bottom: 20px;
}

.text__block__subtitle {
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #4D5053;
    text-align: center;
}

/* Contacts */

.contacts {
    display: flex;

    width: 100%;
    min-height: 635px;
    margin-bottom: 140px;
}

.contacts__text__block {
    margin: 26px 60px 26px 0;
}

.contacts__text__title {
    font-family: 'DM Serif Display', serif;
    font-size: 3.3rem;
    text-align: left;
    margin-bottom: 40px;
    color: #292F36;
}


.contacts__text__subtitle {
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
    color: #4D5053;
    margin-bottom: 30px;
}

.contacts__img__block {

    width: 100%;
    height: 100%;
    border-radius: 0px 326px 0px 123px;
    overflow: hidden;

}

.contacts__call__block {
    display: flex;

}

.contacts_img {
    padding-right: 20px;
    padding-bottom: 40px;
}

.contacths__tell {

    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;

}

.contacts__tell {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;

}


/* reviews */

.reviews {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 675px;
    background: #F4F0EC;
    border-radius: 70px;
    margin-bottom: 140px;
}

.reviews__title {
    padding-top: 100px;
    padding-bottom: 45px;


    font-weight: 400;
    font-size: 3rem;
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display', serif;

}

.reviews__block {
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 50px 50px 120px 50px;

}


.reviews_blocks {
    min-height: 290px;
    min-width: 33.33333%;
    background-color: #fff;
    padding: 50px 30px 35px 35px;
    border-radius: 30px;
    margin: 5px 8px;
}

.reviews_block_profile{
    display: flex;
}

.reviews_img{
margin-bottom: 20px;
margin-right: 20px;

}

.reviews__title__name {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
  
}
.reviews__subtitle__name {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}


.reviews_text{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}