body {
    margin: 0;

    background-color: #fff;
    font-family: 'DM Serif Display', serif;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    line-height: 1.4;

    color: #585858;

}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


/* Header */
.header {
    padding: 1rem 0;
    width: 100%;
    height: 110px;

    position: relative;
    overflow: hidden;

    background: #fff;

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}


.header-nav-link {
    margin-left: 1.5rem;

    color: #292F36;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: #CDA274;
}

.header-nav-link:focus {
    color: #CDA274;
}

.header-nav-link.active {
    position: relative;
}

/* content */

.content {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    overflow: hidden;

    background: #000 url("../img/IMAGE.jpg") center no-repeat;
    background-size: cover;
}

.title {
    margin-bottom: 10px;
    font-family: 'DM Serif Display', serif;
    
    font-size: 4.2rem;
    color: #292F36;
    font-weight: 400;
    line-height: 1.2;
}

.content__block {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin-top: 180px;
}
.text{
    font-size: 1.2rem;
    font-weight: 400;
    /* line-height: 33px; */
    font-family: 'Jost', sans-serif;
    margin-bottom: 35px;
}


/* Btn
=================*/

.btn {
    display: inline-block;
    padding: 18px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    border: 0;
    background-color: #292F36;
    border-radius: 18px;

    transition: background .2s linear;
}

.btn:hover {
    background-color: #CDA274;
}

.btn-full {
    display: block;
    width: 100%;
}
